<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
<form action="/faculty/update" method="post">
    <input type="text" name="first_nm" value="<%= first_nm %>">
    <input type="text" name="last_nm" value="<%= last_nm %>">
    <input type="text" name="room" value="<%= room %>">
    <input type="text" name="dept" value="<%= dept %>">

    <input type="hidden" name="id" value="<%= id %>">
    <input type="submit">
</form>
    
</body>
</html>